<ion-header>
  <ion-toolbar>
    <ion-title>
      Random Number Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2>Random Number:</h2>
    <app-loading-circle *ngIf="randomNumber$ | async as randomNumber" [lastNumber]="lastNumber" [interval]="interv" [isPaused]="isPaused"></app-loading-circle>
    
    <ion-item>
      <ion-input label="Min:" type="number" [(ngModel)]="min" aria-label="min"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Max:" type="number" [(ngModel)]="max" aria-label="max"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Interval (ms):" (ionInput)="updateInterval(interv)" type="number" [(ngModel)]="interv" aria-label="number"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="togglePausePlay()" size="large">
      <ion-icon [name]="isPaused ? 'play-circle-outline' : 'pause-circle-outline'" size="medium"></ion-icon>
      {{ isPaused ? 'Play' : 'Pause' }}
    </ion-button>    

    <h2>Last 5 Numbers:</h2>
    <ion-list>
      <ion-item *ngFor="let number of lastNumbers">{{ number }}</ion-item>
    </ion-list>
  </div>
</ion-content>
