#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  --background: purple;
  --color: white;
}

ion-input.custom {
  --border-color: purple;
  --color: purple;
  --highlight-color-focused: purple;
  --highlight-color-invalid: purple;
  --highlight-color-valid: purple;
  --placeholder-color: purple;
}

ion-select {
  opacity: 0; /* Hide the select text */
  max-width: 0; /* Ensure the element doesn't occupy space */
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-toolbar img {
  height: 40px; /* Adjust the height as needed */
  width: auto; /* This will maintain the aspect ratio */
  padding-left: 0.3em;
}