<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" alt="logo">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguageSelect()">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
      <ion-select #languageSelect [compareWith]="compareWithLanguage" [(ngModel)]="selectedLanguage" interface="popover" (ionChange)="changeLanguage()">
        <ion-select-option *ngFor="let language of appLanguageList" [value]="language.code">
          {{ language.text }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2>{{ 'home.random_number' | translate }}:</h2>
    <app-loading-circle *ngIf="randomNumber$ | async as randomNumber" [lastNumber]="lastNumber" [interval]="interv"
      [isPaused]="isPaused" (click)="onNumberClicked(randomNumber)"></app-loading-circle>

    <ion-item>
      <ion-input label="{{'home.min' | translate}}:" type="number" [(ngModel)]="min" aria-label="min"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{'home.max' | translate}}:" type="number" [(ngModel)]="max" aria-label="max"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="{{'home.interval' | translate}} (ms):" (ionInput)="updateInterval(interv)" type="number" [(ngModel)]="interv" aria-label="number"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="togglePausePlay()" size="large">
      <ion-icon [name]="isPaused ? 'play-circle-outline' : 'stop-circle-outline'" size="medium"></ion-icon>
      {{ isPaused ? startText : stopText }}
    </ion-button>

    <h2>{{'home.last' | translate}} 5 {{'home.numbers' | translate}}:</h2>
    <ion-list>
      <ion-item *ngFor="let number of lastNumbers" (click)="onNumberClicked(number)">{{ number }}</ion-item>
    </ion-list>
  </div>
</ion-content>